#title {
  background-color: #ff4c68;
}
body {
  font-family: "montserrat";
}
h1 {
  font-family: "Montserrat-black", sans-serif;
  size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* navbar */
.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.navbar {
  padding: 0 0 4.5rem;
}
/* download btn  */
.download-btn {
  margin: 5% 2% 2% 0;
}

/*title-image*/

.title-image {
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}
/* feture section */

#features {
  background-color: #fff;
  position: relative;
  padding: 7% 15%;
}

/* features paragraph */
p {
  color: #8f8f8f;
  text-align: ;
}
/* features icon */
.fas {
  color: #ef8172;
  margin-bottom: 1rem;
}
.fas:hover {
  color: #ff4c68;
}

/* feature head */

h3 {
  font-family: "Montserrat-black", sans-serif;
  size: 1.5rem;
}

/* all feature div */
.feature-box {
  text-align: center;
}
/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
h2 {
  font-family: "Montserrat-solid";
  font-size: 2rem;
  text-align: center;
  /* line-height: 1.5rem; */
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}
.carousel-item {
  padding: 7% 15%;
}

/* press section  */
#press {
  background-color: #ef8172;
  text-align: center;
  padding: 1%;
  margin-bottom: 3%;
}
.press-log {
  width: 13%;
  padding-bottom: 4rem;
}

/* pricing section  */
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
    margin-left: 0;
  }
}

/* <!-- Call to Action --> */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 8% 0 ;
}
.action{
    color: #fff;
    margin-bottom: 5%;
}

/* Footer */
#footer{
    background-color: #fff;
    text-align: center;
    padding: 10% 0;
}
.fab {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .fab:hover {
    color: #ff4c68;
  }
  .social-icon{
      margin: 20px 10px ;
  }